h1 {
  color: white;
  text-align: center;
  margin: 0;
  padding: 100px 0;
  text-transform: uppercase;
}
.pagrindinis {
  font-family: 'Lobster', cursive;
}
body {
  margin: 0;
}
nav{
  background-color: white;
  padding: 10px;
}
nav a{
  padding: 0 10px;
  text-decoration: none;
  color: black;
}
.hero {
  background-image: url("./gradientas.jpg");
  background-repeat: none;
  background-size: 100% auto;
  width: 100%;
  height: 300px;
  display: flex;
}
.hero h1 span {
  padding: 5px;
  border: 5px ridge #fff;
}
.two {
   background-color: darkgrey;
   padding: 10px;
   text-align: left;
}
.two a {
  transition: background-color .5s;
}
.two a:hover {
  background-color: gold;
  font-size: 20px;
  font-style: italic;

}
.container {
  width: 100%;
  margin: 0 auto;
}

.container2 {
  margin: 0 auto;
}
.btn {
  text-align: center;
  margin: auto;
}
.container3 {
  margin: auto;
  width: 50%;
}
.pav1 {
  color: black;
  border: bottom 2px;
  margin: 20px 0px;
  padding: 10px 0px 0px 0px;
  text-align: center;
}
.logo {
  margin: 0;
  display: inline-block;
  width: 20%;
  font-size: 30px;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.meniu {
  margin: 0;
  display: inline-block;
  width: 77%;
  text-align: right;
}
.center-line {
    width: 20%;
    height: 1px;
    border-top: 1px solid #bbb;
    margin: auto;
}
.text2 {
  font-style: normal;
  font-size: 16px;
  line-height: 29px;
  font-weight: 300;
  color: #555;
  text-align: justify;
}
p {
  text-align: center;
}
.container4 {
  width: 100%;
  margin: 50px auto;
  display: flex;
  justify-content: center;
}
.icon1 {
  display: inline-block;
  width: 24%;
  margin:0;
  text-align: center;
}
.center-line1 {
  width: 20%;
  height: 1px;
  border-top: 1px solid #bbb;
  margin: auto;
}
.iconpav {
  color: black;
  text-transform: uppercase;
}
.icon2
{display: inline-block;
width: 24%;
margin:0;
text-align: center;
}
.center-line2 {
  width: 20%;
  height: 1px;
  border-top: 1px solid #bbb;
  margin: auto;
}
.iconpav2 {
  color: black;
  text-transform: uppercase;
}
.icon3
{display: inline-block;
width: 24%;
margin:0;
text-align: center;
}
.center-line3 {
  width: 20%;
  height: 1px;
  border-top: 1px solid #bbb;
  margin: auto;
}
.iconpav3 {
  color: black;
  text-transform: uppercase;
}
.icon4
{display: inline-block;
width: 24%;
margin:0;
text-align: center;
}
.center-line4 {
  width: 20%;
  height: 1px;
  border-top: 1px solid #bbb;
  margin: auto;
}
.iconpav4 {
  color: black;
  text-transform: uppercase;
}


.btn .button {
    position: relative;
    display: block;
    background: none center center no-repeat;
    background-size: cover;
    border: 2px solid #2e2e2e;
    text-transform: uppercase;
    letter-spacing: .3rem;
    padding: 20px 15px;
    text-align: center;
    max-width: 270px;
    min-width: 200px;
    cursor: pointer;
    overflow: hidden;
    -webkit-transition: border 1s cubic-bezier(0.19,1,.22,1),color .6s cubic-bezier(0.19,1,.22,1);
    transition: border 1s cubic-bezier(0.19,1,.22,1), color .6s cubic-bezier(0.19,1,.22,1), background 5s cubic-bezier(0.19,1,.22,1);
}

.btn .button a {
    color: #969696;
    font-family: 'Varela Round';
    text-decoration: none;
}

.btn .button .mask {
    background: #fff;
    background: rgba(255,255,255,0.5);
}

.btn .button .mask {
    position: absolute;
    display: block;
    width: 200px;
    height: 100px;
    -webkit-transform: translate3d(-120%,-50px,0) rotate3d(0,0,1,45deg);
    transform: translate3d(-120%,-50px,0) rotate3d(0,0,1,45deg);
    -webkit-transition: all 1.1s cubic-bezier(0.19,1,.22,1);
    transition: all 1.1s cubic-bezier(0.19,1,.22,1);
}

.btn .button .shift {
    -webkit-transition: all 1.1s cubic-bezier(0.19,1,.22,1);
    transition: all 1.1s cubic-bezier(0.19,1,.22,1);
}

.button:hover {
    border-color: #fff;
    /* box-shadow: 0 0 5px rgba(255,245,245,0.8); */
    /* background-image: url('http://cuinine.com/img/codepen/savvy.jpg'); */
}

.button:hover a {
    color: #fff;
}

.button:hover .mask {
    background: #fff;
    -webkit-transform: translate3d(120%,-100px,0) rotate3d(0,0,1,90deg);
    transform: translate3d(120%,-100px,0) rotate3d(0,0,1,90deg);
}

.button:hover .shift {
    padding-left: 5px;
}
.container5 {
  width: 100%;
  margin: 50px auto;
  display: flex;
  justify-content: center;
}
.center-line5 {
  width: 20%;
  height: 1px;
  border-top: 1px solid #bbb;
  margin: auto;
}
.fotopav
{ margin: 25px 0;
  text-align: center;
  color: black;
  text-transform: uppercase;
}
.meniufoto {
  text-align: center;
  margin: 20px 0;
}
.meniufoto a {
  background-color: white;
  padding: 0 10px;
  text-decoration: none;
  color: black;
}
.pavadinimas {
  width: 100%;
  margin: auto;
}
.foto1 {
  width: 45%;
  margin: auto;
}
.susisiekimas {
  font-family: sans-serif;
  width: 500px;
  margin: auto;
  display: block;
}
.vardas {
  text-align: center;
  margin: 10px 20px;
}
.amzius {
  text-align: center;
  margin: 10px 20px;
}
.pastas {
  text-align: center;
  text-align: 10px 20px;
}
.name2{
  margin: 0px 20px;
}
.age2 {
  margin: 0px 18px;
}
.email2 {
  margin: 0px 12px;
}
